.fondo {
    background: red;
    font-size: larger;
    font-family: formula_bold;
}

.centrado { align-content: center;}


@font-face {
    font-family: formula_1;
    src: url(../formula-1/Formula\ 1.ttf);
}

@font-face {
    font-family: formula_bold;
    src: url(../F1FontFiles/Formula1-Bold.otf);
    color: white;
}

@font-face {
    font-family: formula_regular;
    src: url(../F1FontFiles/Formula1-Regular.otf);
}

.letrapiola {font-family: formula_1;}

body{
    background: #1a2a6c;
    background: -webkit-linear-gradient(to right, #ff0000, #ee5353, #ffffff);
    background: linear-gradient(to right, #ff0000, #ee5353, #ffffff);
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    
}

.footer div{
    background-color: black;
    min-height: 10vh;
    color: rgb(255, 0, 0);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}


.zocalo{
    background-color: black;
    min-height: 10vh;
}

.footer a {text-decoration: none;
            color: red;}